html {
  height: 100%;
  font-size: 200%;
  animation: gradient 20s alternate infinite;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-right: 0.1em;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

@keyframes gradient {
  from {
    background: darkblue;
  }
  50% {
    background: red
  }
  to {
    background: black;
  }
}
