html, body {
  background: linear-gradient(to right, blue, white);
  width: max-content;
  margin: 0;
  scroll-snap-type: x mandatory;
  -ms-scroll-snap-type: x mandatory;
}

* {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section {
  background-color: black;
  width: max-content;
  height: 100vh;
  background-blend-mode: darken;
  text-align: center;
  float: left;
  word-wrap: break-word;
  scroll-snap-align: start;
  color: white;
  padding: 1em;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  background: white;
  color: black;
  padding: 1em;
  display: inline-block;
  border-radius: 1em;
}

#bark-beagle {
  background: rgba(0, 0, 0, .65) url(https://jack5079.github.io/bark-beagle/assets/bark.webp);
  background-size: cover;
}

#bruh-beagle {
  background: rgba(0, 0, 0, .65) url(https://jack5079.github.io/bark-beagle/assets/beg.webp);
  background-size: cover;
}

#bruh-button {
  background: rgba(0, 0, 0, .65) url(https://jack5079.github.io/bruh-button/icon.png);
  background-size: cover;
}

#molly-sim {
  background: rgba(0, 0, 0, .65) url(https://instagram.fbos1-1.fna.fbcdn.net/vp/579fe93befd7f701e4aafe26c1de72c6/5E522EF9/t51.2885-15/e35/22858014_1676829145709402_3294775008827539456_n.jpg?_nc_ht=instagram.fbos1-1.fna.fbcdn.net&_nc_cat=102);
  background-size: cover;
}

#bruh-beagle-15 {
  background: rgba(0, 0, 0, .65) url(https://jack5079.github.io/bark-beagle/assets/bagel.webp);
  background-size: cover;
}

#doge-games {
  background: rgba(0, 0, 0, .65) url(https://media1.tenor.com/images/9beb53322b9597484149fc93949e6460/tenor.gif?itemid=13766778);
}