@import url('https://rsms.me/inter/inter.css');
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

body {
  margin: 0;
  overflow-x: hidden;

}
html {
  height: 100%;
  color: white;
  background: linear-gradient(to bottom, rgb(151, 0, 0), black) fixed;
  text-align: center;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

header {
  margin: 0;
  height: 100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background: linear-gradient(118deg, #ff0000, #0000ff);
  background-size: 400% 400%;
  animation: scrollbg 30s ease infinite;
}

header h1 {
  font-size: 5em;
  font-weight: bold;
}
@keyframes scrollbg {
  0% {
    background-position: 0% 51%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 51%
  }
}


nav {
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  border-bottom: 4px white solid;
  padding: 1em;
  text-align: center;
}
.scrollind {
  position: absolute;
  bottom: 1em;
  user-select: none;
  border: none;
  font-size: 2em;
  animation: bounce 1s ease infinite;
}

@keyframes bounce {
  from, to {
    bottom: 1em;
  }
  50% {
    bottom: 2em
  }
}
nav a {
  font-size: 2em;
  text-decoration: underline;
  border: none;
  margin: 1em;
}
.logo {
  display: block;
}
@media screen and (min-width: 1032px) {
  nav {
    width: 100vw;
    overflow: auto;
    display: block;
    position: sticky;
    text-align: left;
    margin: 0;
    left: 0;
    top: 0;
  }

  .logo {
    display: inline-block;
  }
}

h2 {
  font-size: 2em;
}

a {
  text-decoration: none;
  border-bottom: 0.1em solid white;
  color: white;
}

::selection {
  background: white;
  color: black;
}

main {
  max-width: 500px;
  margin: 1em auto;
}

main section {
  scroll-snap-align: center;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  margin-bottom: 1em;
  padding: 1em;
}