@import url('https://rsms.me/inter/inter.css');
html {
  height: 100%;
  color: white;
  background: black;
}

body {
  border: 4px blue solid;
  padding: 1em;
  max-width: 800px;
  margin: 20px auto;
  background: linear-gradient(to top right, blue, black);
  border-radius: 1em;
}

h2 {
  font-size: 2em;
}

.logo {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  .logo {
    font-family: 'Inter var', sans-serif;
  }
}

.logo {
  font-size: 5em;
  margin: 0;
}

header {
  margin-left: 5em;
}

.number {
  opacity: 0.5;
  animation: goaway 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.6s 1 forwards;
  animation-fill-mode: both;
  position: relative;
  font-family: monospace;
}

@keyframes goaway {
  100% {
    opacity: 0.5;
    top: -0em;
  }
  0% {
    opacity: 0;
    top: -1em;
  }
}

nav {
  margin: 2em;
}

a {
  font-size: 2em;
  text-decoration: none;
  display: inline-block;
  border-radius: 1em;
  padding: 0.5em;
  margin: 1em;
  color: white;
  background: rgba(0, 0, 0, 0.1);
  transition: background 1s;
}

a:hover {
  background: rgba(0, 0, 0, 0.6);
}

a:active {
  background: rgba(255, 255, 0, 0.6)
}

::selection {
  background: white;
  color: black;
}