
a {
    color: white;
}

tr {
    border: none !important;
}
nav a {
    font-size: 1.4vw;
    text-decoration: none;
    transition: font-size 0.1s;
    padding-right: 1em;
}
nav {
    vertical-align: center;
}
nav a:hover {
    font-size: 1.5vw;
}


header {
    vertical-align: center;
    position: sticky;
    background: rgba(69, 69, 69, 0.5);
}

.logo {
    width: 5vw;
    border-radius: 50%;
    transition: width 1s;
}

.logo:hover {
    width: 4vw;
}

h1 {
    font-size: 5vh;
}