a {
  text-align: right;
  font-size: 1em;
  text-decoration: none !important;
  padding: 0.6em;
  font-family: monospace;
  border-right: 0.2vw solid #919191;
  transition: border-radius 1s, background 1s;
}

a:hover {
  background: #2f4f4f;
  border-radius: 1em;
}

a:active {
  background: #203636;
}

main section {
  padding: 1em;
  text-align: center;
  margin: 1em;
  display: inline-block;
  background: black;
  border-radius: 1em;
}

h2 {
  text-align: center;
  font-style: italic;
}

body {
  background: transparent;
}